.carrousel {
  display: flex;
  width: 100%;
  height: 415px;
  overflow: hidden;
  border-radius: 25px;
  position: relative;
}

.carrousel__img {
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.carrousel__arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  height: 60px;
  transform: translate(0, -50%);
}

.carrousel .left {
  left: 20px;
}

.carrousel .right {
  right: 20px;
}

.carrousel__counter {
  color: #ffffff;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
}