.host {
  display: flex;
  align-items: center;
  gap: 5%;
  margin-bottom: 20px;
}

.host-name {
  text-align: right;
  width: 100px;
  font-size: 1.125rem;
  color: #ff6060;
}

.host-img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}