.tags {
    display: flex;
    gap: 4%; 
    margin-bottom: 6%; 
}

.tags-item {
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: #FF6060;
    color: white;
    border-radius: 10px;
    font-size: 0.875rem;
    font-weight: 600;
    width: 33%;
    max-width: 115px;
    min-height: 25px;
    text-align: center;
    box-sizing: border-box;
}