.title-content {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 2.25rem;
    color: #ff6060;
    line-height: 2rem;
    margin-bottom: 10px;
}

.title-subtitle {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 2rem;
}