.title-content {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 2.25rem;
    color: #ff6060;
    font-weight: 500;

    line-height: 2rem;
    margin-bottom: 10px;
}

.title-subtitle {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 2rem;
}


/****** Media Queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .title {
        font-size: 1.688rem;
    }

    .title-subtitle {
        font-size: 1rem;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .title {
        font-size: 1.125rem;
        line-height: 1rem;
    }

    .title-subtitle {
        font-size: 0.875rem;
        line-height: 1rem;
        margin-bottom: 10px;
    }


}