.error {
    display: flex;
    flex-direction: column;
    color: #FF6060;
    align-items: center;
    margin: 90px;
}

.error,
.error_404,
.error_text,
a {
    display: flex;
    justify-content: center;
}

.error_404 {
    max-width: 597px;
    height: 263px;
    width: 100%;
    font-weight: 700;
    font-size: 18rem;
    margin: 0;
}

.error_text {
    max-width: 872px;
    height: 51px;
    font-weight: 500;
    font-size: 2.25rem;
    margin: 150px 0;
}

.error a {
    max-width: 284px;
    height: 26px;
    color: black;
    font-weight: 500;
    font-size: 1.125rem;
    text-decoration: underline solid;
}



/****** Media Queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .error {
        margin: 75px;
    }

    .error_404 {
        font-size: 12rem;
    }

    .error_text {
        font-size: 1.5rem;
        margin: 100px 0;
    }

    .error a {
        font-size: 1.10rem;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {}