.gallery-content {
    background-color: #F6F6F6;
    border-radius: 25px;
    padding: 40px; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 30px; 
    max-width: 1440px; 
    margin: 4% 10%; 
    box-sizing: border-box; 
}

.gallery-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF6060;
    font-size: 1.125rem;
    font-weight: 700;
    height: 200px; 
}