.header {
    max-width: 1440px;
    margin: 4% 10%;
    box-sizing: border-box;
  }
  
 nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header-logo {
    width: 20%;
  }
  
  nav ul {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  
  ul {
    list-style-type: none;
    display: flex;
    gap: 57px;
  }
  
  a {
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
  }
  
  .active {
    text-decoration: underline;
  }
  
